In [7]:
import pandas as pd
import sqlalchemy
import quandl
import requests

In [2]:
df1=pd.read_csv('../zillow_regions_parsed.csv')
df2=pd.read_csv('../census_data_2018.csv',low_memory=False)
df3=pd.read_csv('../cleaned_zillow_indicators.csv')

In [3]:
# df3=df3.drop('Unnamed: 0',axis=1)
df3

  indicator_id                        indicator     category
0         Z5BR  ZHVI 5+ Bedroom Time Series ($)  Home values
1         Z4BR   ZHVI 4-Bedroom Time Series ($)  Home values
2         Z3BR   ZHVI 3-Bedroom Time Series ($)  Home values
3         Z2BR   ZHVI 2-Bedroom Time Series ($)  Home values
4         Z1BR   ZHVI 1-Bedroom Time Series ($)  Home values

In [4]:
connection_string='postgresql://MasterUser:BootCamp123@database-1.cqvtwcxuk2vw.us-west-1.rds.amazonaws.com:5432/postgres'

In [5]:
db=sqlalchemy.create_engine(connection_string)
connection=db.connect()

In [7]:
df1.to_sql(name='regions', con=db, if_exists='append', index=True)

KeyboardInterrupt:

In [ ]:
df2.to_sql(name='census_2018', con=db, if_exists='append', index=True)

In [ ]:
df3.to_sql(name='indicators', con=db, if_exists='append', index=True)

In [9]:
response=requests.get('https://www.quandl.com/api/v3/datatables/ZILLOW/DATA?indicator_id=Z1BR&region_id=99999&api_key=74g3zUso-i7jUjwzzsgh')

In [10]:
response.json()

{'datatable': {'data': [['Z1BR', '99999', '2020-10-31', 331882.0],
   ['Z1BR', '99999', '2020-09-30', 324003.0],
   ['Z1BR', '99999', '2020-08-31', 319752.0],
   ['Z1BR', '99999', '2020-07-31', 285354.0],
   ['Z1BR', '99999', '2020-06-30', 283187.0],
   ['Z1BR', '99999', '2020-05-31', 281508.0],
   ['Z1BR', '99999', '2020-04-30', 267385.0],
   ['Z1BR', '99999', '2020-03-31', 266354.0],
   ['Z1BR', '99999', '2020-02-29', 266014.0],
   ['Z1BR', '99999', '2020-01-31', 266621.0],
   ['Z1BR', '99999', '2019-12-31', 266846.0],
   ['Z1BR', '99999', '2019-11-30', 267025.0],
   ['Z1BR', '99999', '2019-10-31', 266383.0],
   ['Z1BR', '99999', '2019-09-30', 266726.0],
   ['Z1BR', '99999', '2019-08-31', 264321.0],
   ['Z1BR', '99999', '2019-07-31', 262944.0],
   ['Z1BR', '99999', '2019-06-30', 259566.0],
   ['Z1BR', '99999', '2019-05-31', 256888.0],
   ['Z1BR', '99999', '2019-04-30', 253493.0],
   ['Z1BR', '99999', '2019-03-31', 252424.0],
   ['Z1BR', '99999', '2019-02-28', 250997.0],
   ['Z1BR', '99999', '2019-01-31', 247286.0],
   ['Z1BR', '99999', '2018-12-31', 243229.0],
   ['Z1BR', '99999', '2018-11-30', 238289.0],
   ['Z1BR', '99999', '2018-10-31', 234888.0],
   ['Z1BR', '99999', '2018-09-30', 230238.0],
   ['Z1BR', '99999', '2018-08-31', 228561.0],
   ['Z1BR', '99999', '2018-07-31', 227733.0],
   ['Z1BR', '99999', '2018-06-30', 227908.0],
   ['Z1BR', '99999', '2018-05-31', 226518.0],
   ['Z1BR', '99999', '2018-04-30', 224059.0],
   ['Z1BR', '99999', '2018-03-31', 221613.0],
   ['Z1BR', '99999', '2018-02-28', 218326.0],
   ['Z1BR', '99999', '2018-01-31', 216418.0],
   ['Z1BR', '99999', '2017-12-31', 215182.0],
   ['Z1BR', '99999', '2017-11-30', 214990.0],
   ['Z1BR', '99999', '2017-10-31', 214189.0],
   ['Z1BR', '99999', '2017-09-30', 213787.0],
   ['Z1BR', '99999', '2017-08-31', 214127.0],
   ['Z1BR', '99999', '2017-07-31', 214538.0],
   ['Z1BR', '99999', '2017-06-30', 213393.0],
   ['Z1BR', '99999', '2017-05-31', 212812.0],
   ['Z1BR', '99999', '2017-04-30', 211726.0],
   ['Z1BR', '99999', '2017-03-31', 209565.0],
   ['Z1BR', '99999', '2017-02-28', 206783.0],
   ['Z1BR', '99999', '2017-01-31', 204265.0],
   ['Z1BR', '99999', '2016-12-31', 202751.0],
   ['Z1BR', '99999', '2016-11-30', 202169.0],
   ['Z1BR', '99999', '2016-10-31', 200809.0],
   ['Z1BR', '99999', '2016-09-30', 198471.0],
   ['Z1BR', '99999', '2016-08-31', 194626.0],
   ['Z1BR', '99999', '2016-07-31', 189593.0],
   ['Z1BR', '99999', '2016-06-30', 187102.0],
   ['Z1BR', '99999', '2016-05-31', 183415.0],
   ['Z1BR', '99999', '2016-04-30', 182313.0],
   ['Z1BR', '99999', '2016-03-31', 181753.0],
   ['Z1BR', '99999', '2016-02-29', 182549.0],
   ['Z1BR', '99999', '2016-01-31', 182260.0],
   ['Z1BR', '99999', '2015-12-31', 180111.0],
   ['Z1BR', '99999', '2015-11-30', 177176.0],
   ['Z1BR', '99999', '2015-10-31', 175193.0],
   ['Z1BR', '99999', '2015-09-30', 174098.0],
   ['Z1BR', '99999', '2015-08-31', 173639.0],
   ['Z1BR', '99999', '2015-07-31', 173718.0],
   ['Z1BR', '99999', '2015-06-30', 172431.0],
   ['Z1BR', '99999', '2015-05-31', 171593.0],
   ['Z1BR', '99999', '2015-04-30', 168970.0],
   ['Z1BR', '99999', '2015-03-31', 166552.0],
   ['Z1BR', '99999', '2015-02-28', 163714.0],
   ['Z1BR', '99999', '2015-01-31', 161754.0],
   ['Z1BR', '99999', '2014-12-31', 160053.0],
   ['Z1BR', '99999', '2014-11-30', 157919.0],
   ['Z1BR', '99999', '2014-10-31', 155583.0],
   ['Z1BR', '99999', '2014-09-30', 153639.0],
   ['Z1BR', '99999', '2014-08-31', 152728.0],
   ['Z1BR', '99999', '2014-07-31', 151729.0],
   ['Z1BR', '99999', '2014-06-30', 150155.0],
   ['Z1BR', '99999', '2014-05-31', 148599.0],
   ['Z1BR', '99999', '2014-04-30', 147606.0],
   ['Z1BR', '99999', '2014-03-31', 147087.0],
   ['Z1BR', '99999', '2014-02-28', 146335.0],
   ['Z1BR', '99999', '2014-01-31', 145115.0],
   ['Z1BR', '99999', '2013-12-31', 144933.0],
   ['Z1BR', '99999', '2013-11-30', 145473.0],
   ['Z1BR', '99999', '2013-10-31', 146597.0],
   ['Z1BR', '99999', '2013-09-30', 146750.0],
   ['Z1BR', '99999', '2013-08-31', 145458.0],
   ['Z1BR', '99999', '2013-07-31', 143687.0],
   ['Z1BR', '99999', '2013-06-30', 142614.0],
   ['Z1BR', '99999', '2013-05-31', 141642.0],
   ['Z1BR', '99999', '2013-04-30', 140581.0],
   ['Z1BR', '99999', '2013-03-31', 139089.0],
   ['Z1BR', '99999', '2013-02-28', 139053.0],
   ['Z1BR', '99999', '2013-01-31', 139302.0],
   ['Z1BR', '99999', '2012-12-31', 138973.0],
   ['Z1BR', '99999', '2012-11-30', 137708.0],
   ['Z1BR', '99999', '2012-10-31', 136293.0],
   ['Z1BR', '99999', '2012-09-30', 135414.0],
   ['Z1BR', '99999', '2012-08-31', 135029.0],
   ['Z1BR', '99999', '2012-07-31', 135068.0],
   ['Z1BR', '99999', '2012-06-30', 135108.0],
   ['Z1BR', '99999', '2012-05-31', 135374.0],
   ['Z1BR', '99999', '2012-04-30', 135411.0],
   ['Z1BR', '99999', '2012-03-31', 135355.0],
   ['Z1BR', '99999', '2012-02-29', 133718.0],
   ['Z1BR', '99999', '2012-01-31', 132648.0],
   ['Z1BR', '99999', '2011-12-31', 131896.0],
   ['Z1BR', '99999', '2011-11-30', 132704.0],
   ['Z1BR', '99999', '2011-10-31', 132671.0],
   ['Z1BR', '99999', '2011-09-30', 132478.0],
   ['Z1BR', '99999', '2011-08-31', 132207.0],
   ['Z1BR', '99999', '2011-07-31', 132452.0],
   ['Z1BR', '99999', '2011-06-30', 133051.0],
   ['Z1BR', '99999', '2011-05-31', 133247.0],
   ['Z1BR', '99999', '2011-04-30', 133617.0],
   ['Z1BR', '99999', '2011-03-31', 134092.0],
   ['Z1BR', '99999', '2011-02-28', 135708.0],
   ['Z1BR', '99999', '2011-01-31', 136410.0],
   ['Z1BR', '99999', '2010-12-31', 137032.0],
   ['Z1BR', '99999', '2010-11-30', 136569.0],
   ['Z1BR', '99999', '2010-10-31', 137161.0],
   ['Z1BR', '99999', '2010-09-30', 138312.0],
   ['Z1BR', '99999', '2010-08-31', 139924.0],
   ['Z1BR', '99999', '2010-07-31', 141104.0],
   ['Z1BR', '99999', '2010-06-30', 140990.0],
   ['Z1BR', '99999', '2010-05-31', 141296.0],
   ['Z1BR', '99999', '2010-04-30', 141767.0],
   ['Z1BR', '99999', '2010-03-31', 142466.0],
   ['Z1BR', '99999', '2010-02-28', 143573.0],
   ['Z1BR', '99999', '2010-01-31', 145333.0],
   ['Z1BR', '99999', '2009-12-31', 147237.0],
   ['Z1BR', '99999', '2009-11-30', 147490.0],
   ['Z1BR', '99999', '2009-10-31', 147291.0],
   ['Z1BR', '99999', '2009-09-30', 146124.0],
   ['Z1BR', '99999', '2009-08-31', 145249.0],
   ['Z1BR', '99999', '2009-07-31', 144905.0],
   ['Z1BR', '99999', '2009-06-30', 146578.0],
   ['Z1BR', '99999', '2009-05-31', 148397.0],
   ['Z1BR', '99999', '2009-04-30', 149709.0],
   ['Z1BR', '99999', '2009-03-31', 150564.0],
   ['Z1BR', '99999', '2009-02-28', 150513.0],
   ['Z1BR', '99999', '2009-01-31', 150475.0],
   ['Z1BR', '99999', '2008-12-31', 150295.0],
   ['Z1BR', '99999', '2008-11-30', 152422.0],
   ['Z1BR', '99999', '2008-10-31', 154217.0],
   ['Z1BR', '99999', '2008-09-30', 156333.0],
   ['Z1BR', '99999', '2008-08-31', 156877.0],
   ['Z1BR', '99999', '2008-07-31', 156496.0],
   ['Z1BR', '99999', '2008-06-30', 154883.0],
   ['Z1BR', '99999', '2008-05-31', 153679.0],
   ['Z1BR', '99999', '2008-04-30', 153358.0],
   ['Z1BR', '99999', '2008-03-31', 153446.0],
   ['Z1BR', '99999', '2008-02-29', 152807.0],
   ['Z1BR', '99999', '2008-01-31', 151461.0],
   ['Z1BR', '99999', '2007-12-31', 149606.0],
   ['Z1BR', '99999', '2007-11-30', 147415.0],
   ['Z1BR', '99999', '2007-10-31', 146103.0],
   ['Z1BR', '99999', '2007-09-30', 145759.0],
   ['Z1BR', '99999', '2007-08-31', 146650.0],
   ['Z1BR', '99999', '2007-07-31', 147593.0],
   ['Z1BR', '99999', '2007-06-30', 148473.0],
   ['Z1BR', '99999', '2007-05-31', 147754.0],
   ['Z1BR', '99999', '2007-04-30', 146479.0],
   ['Z1BR', '99999', '2007-03-31', 144310.0],
   ['Z1BR', '99999', '2007-02-28', 141871.0],
   ['Z1BR', '99999', '2007-01-31', 139710.0],
   ['Z1BR', '99999', '2006-12-31', 138752.0],
   ['Z1BR', '99999', '2006-11-30', 140455.0],
   ['Z1BR', '99999', '2006-10-31', 141818.0],
   ['Z1BR', '99999', '2006-09-30', 142168.0],
   ['Z1BR', '99999', '2006-08-31', 141095.0],
   ['Z1BR', '99999', '2006-07-31', 138581.0],
   ['Z1BR', '99999', '2006-06-30', 135850.0],
   ['Z1BR', '99999', '2006-05-31', 134278.0],
   ['Z1BR', '99999', '2006-04-30', 133992.0],
   ['Z1BR', '99999', '2006-03-31', 133416.0],
   ['Z1BR', '99999', '2006-02-28', 132570.0],
   ['Z1BR', '99999', '2006-01-31', 131787.0],
   ['Z1BR', '99999', '2005-12-31', 131043.0],
   ['Z1BR', '99999', '2005-11-30', 128333.0],
   ['Z1BR', '99999', '2005-10-31', 125661.0],
   ['Z1BR', '99999', '2005-09-30', 123388.0],
   ['Z1BR', '99999', '2005-08-31', 121902.0],
   ['Z1BR', '99999', '2005-07-31', 121604.0],
   ['Z1BR', '99999', '2005-06-30', 121687.0],
   ['Z1BR', '99999', '2005-05-31', 121578.0],
   ['Z1BR', '99999', '2005-04-30', 120702.0],
   ['Z1BR', '99999', '2005-03-31', 120355.0],
   ['Z1BR', '99999', '2005-02-28', 120523.0],
   ['Z1BR', '99999', '2005-01-31', 121126.0]],
  'columns': [{'name': 'indicator_id', 'type': 'text'},
   {'name': 'region_id', 'type': 'text'},
   {'name': 'date', 'type': 'Date'},
   {'name': 'value', 'type': 'double'}]},
 'meta': {'next_cursor_id': None}}