In [1]:
import pandas as pd

In [10]:
df=pd.read_csv('../ZILLOW-INDICATORS.csv')
new_df=df.loc[(df['category']!='Inventory and sales')]
cleaned_df=new_df.iloc[range(5,10)]

  indicator_id                        indicator     category
5         Z5BR  ZHVI 5+ Bedroom Time Series ($)  Home values
6         Z4BR   ZHVI 4-Bedroom Time Series ($)  Home values
7         Z3BR   ZHVI 3-Bedroom Time Series ($)  Home values
8         Z2BR   ZHVI 2-Bedroom Time Series ($)  Home values
9         Z1BR   ZHVI 1-Bedroom Time Series ($)  Home values

In [ ]:
cleane